
<div class="userAuth container-fluid">
	
	<div class="row main receive">
		<div class="main-login main-center receive">
				<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" id="leftSideNav" md-disable-backdrop="true">
						<md-toolbar class="md-theme-indigo" layout="row">
						  <h1 class="md-toolbar-tools">Hello {{user.userName}}</h1>
						  <span flex></span>
						  <md-button ng-click="close()">Close</md-button>
						</md-toolbar>
						<md-content layout-padding="" layout="column" layout-align="start start">
						  <md-button ng-click="show('home')" class="md-primary">Show Home</md-button>
						  <md-button ng-click="show('work')" class="md-primary">Show Work</md-button>
						</md-content>
				</md-sidenav>
			<div class="receive-header">
				<div class="col-xs-3 vcenter">
						<img src="../../../assets/imgs/avata-woman.png" class="avatar img-circle" ng-click="toggleLeft()">
				</div>
				
				<input type="text" id="searchBar" placeholder="Search" ng-model="searchText" class="col-xs-5 vcenter">
				
				<div class="col-xs-3 vcenter right" >
					<a href="/send"><img src="../../../assets/imgs/flashbulblogogold1.png" class="avatar img-circle"></a>
				</div>
			</div>
			<div class="container-fluid">
				<div class="receive-body row row-centered">
					<div class="col-xs-3 col-centered clickable" ng-click="getMessages('fire')">
						<img src="../../../assets/imgs/fire.png" class="category-icon" ng-class="{'active':getActive('fire')}">
						<h4>Firedrill</h4>
						<h4>{{fireCount}}</h4>
					</div>
					<div class="col-xs-3 col-centered clickable" ng-click="getMessages('blocker')">
						<img src="../../../assets/imgs/cone.png" class="category-icon" ng-class="{'active':getActive('blocker')}">
						<h4>Blocker</h4>
						<h4>{{blockerCount}}</h4>
					</div>
					<div class="col-xs-3 col-centered clickable" ng-click="getMessages('goodNews')">
						<img src="../../../assets/imgs/goodNews.png" class="category-icon" ng-class="{'active':getActive('goodNews')}">
						<h4>GoodNews</h4>
						<h4>{{goodNewsCount}}</h4>
					</div>
					<div class="col-xs-3 col-centered clickable" ng-click="getMessages('info')">
						<img src="../../../assets/imgs/info.png" class="category-icon" ng-class="{'active':getActive('info')}">
						<h4>Info</h4>
						<h4>{{infoCount}}</h4>
					</div>
				</div>
			</div>
			<!-- <div class="well well-sm">Most Recent</div> -->
			<div class="container-fluid">
				<div class="panel" ng-repeat="message in messages" ng-class="getPanelClass(message.category)"> 
					<div class="panel-heading" ng-class="message.category">{{message.sendor.userName}}</div>
					<div class="panel-body">
						{{message.text}}
					</div>
					<div class="panel-footer">
						<i class="fa fa-share-alt pull-right"></i>
						<i class="fa fa-send pull-right"></i>
						<i class="fa fa-remove pull-right"></i>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>


	
