
<div class="userAuth container-fluid">
	<div class="row main receive">
		<div class="main-login main-center receive">
			<div class="receive-header">
				<div class="col-xs-3 vcenter">
					<img src="../../../assets/imgs/avata-woman.png" class="avatar img-circle">
				</div>
				
				<input type="text" id="searchBar" placeholder="Search" ng-model="searchText" class="col-xs-5 vcenter">
				
				<div class="col-xs-3 vcenter right" >
					<a href="/send"><img src="../../../assets/imgs/flashbulblogogold1.png" class="avatar img-circle"></a>
				</div>
			</div>
			<div class="container-fluid">
				<div class="receive-body row row-centered">
					<div class="col-xs-3 col-centered" ng-click="getMessages('fire')">
						<img src="../../../assets/imgs/fire.png" class="category-icon" ng-class="{'active':getActive('fire')}">
						<h4>Firedrill</h4>
						<h4>3</h4>
					</div>
					<div class="col-xs-3 col-centered" ng-click="getMessages('blocker')">
						<img src="../../../assets/imgs/cone.png" class="category-icon" ng-class="{'active':getActive('blocker')}">
						<h4>Blocker</h4>
						<h4>3</h4>
					</div>
					<div class="col-xs-3 col-centered" ng-click="getMessages('goodNews')">
						<img src="../../../assets/imgs/goodNews.png" class="category-icon" ng-class="{'active':getActive('goodNews')}">
						<h4>GoodNews</h4>
						<h4>3</h4>
					</div>
					<div class="col-xs-3 col-centered" ng-click="getMessages('info')">
						<img src="../../../assets/imgs/info.png" class="category-icon" ng-class="{'active':getActive('info')}">
						<h4>Info</h4>
						<h4>3</h4>
					</div>
				</div>
			</div>
			<!-- <div class="well well-sm">Most Recent</div> -->
			<div class="container-fluid">
				<div class="panel panel-info"> 
					<div class="panel-heading">Most Recent</div>
					<div class="panel-body">
						Panel Content
					</div>
					<div class="panel-footer">
						<i class="fa fa-share-alt pull-right"></i>
						<i class="fa fa-send pull-right"></i>
						<i class="fa fa-remove pull-right"></i>
					</div>
				</div>
				<div class="panel panel-danger"> 
					<div class="panel-heading">Most Recent</div>
					<div class="panel-body">
						Panel Content
					</div>
					<div class="panel-footer">Panel Footer</div>
				</div>
				<div class="panel panel-danger"> 
					<div class="panel-heading">Most Recent</div>
					<div class="panel-body">
						Panel Content
					</div>
					<div class="panel-footer">Panel Footer</div>
				</div>
				<div class="panel panel-danger"> 
					<div class="panel-heading">Most Recent</div>
					<div class="panel-body">
						Panel Content
					</div>
					<div class="panel-footer">Panel Footer</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

	
		<div class="bodyContainer">

			<table class="message-table">
			<!--order by category first and then time -->
				<tr ng-repeat-start="message in messages | customOrder:'category' | customOrder:'time' | filter: searchText | filter: filterCategory">
					<td>
					<div class="icon circle small" ng-class="message.category">
						<img ng-src="{{getCategoryImg(message.category)}}" class="icon-img small">
					</div>
					</td>
					<td style="width: 40px">
						<img ng-src="{{message.sender.avartar}}" class="icon small">
					</td>
					<td>
						{{message.sender.name}}
					</td>
					<td style="text-align: right;">
						{{message.time| date:'yyyy-MM-dd'}}
					</td>
				</tr>
				<tr>
						<td></td>
						<td colspan="4" style="padding-left:0.4em">{{message.content}}</td>
				</tr>
				<tr ng-repeat-end="">
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td style="text-align: right;">
						<img src="../../../assets/imgs/share.png" class="xsmall">
					
						<img src="../../../assets/imgs/edit.png" class="xsmall">
					
						<img src="../../../assets/imgs/reply.png" class="xsmall">
					</td>
				</tr>
			</table>

		</div>

	</div>
</div>