

<div class="userAuth container-fluid">
	<div class="row main receive">
		<div class="main-login main-center receive">
			<div class="receive-header">
				<div class="col-xs-3 vcenter">
					<img src="../../../assets/imgs/avata-woman.png" class="avatar img-circle">
				</div>
				<div class="col-xs-3 vcenter right" >
					<a href="/receive"><h2 class="header-text right white"> Cancel</h2></a>
				</div>
			</div>
			<div class="container-fluid">
					<h3> Please choose a category </h3>
				<div class="receive-body row row-centered">
					
					<div class="col-xs-3 col-centered" ng-click="getMessages('fire')">
						<img src="../../../assets/imgs/fire.png" class="category-icon" ng-class="{'active':getActive('fire')}" ng-click="setCategory('fire')">
						<h4>Firedrill</h4>
					</div>
					<div class="col-xs-3 col-centered" ng-click="getMessages('blocker')">
						<img src="../../../assets/imgs/cone.png" class="category-icon" ng-class="{'active':getActive('blocker')}" ng-click="setCategory('blocker')">
						<h4>Blocker</h4>
					</div>
					<div class="col-xs-3 col-centered" ng-click="getMessages('goodNews')">
						<img src="../../../assets/imgs/goodNews.png" class="category-icon" ng-class="{'active':getActive('goodNews')}" ng-click="setCategory('goodNews')">
						<h4>GoodNews</h4>
					</div>
					<div class="col-xs-3 col-centered" ng-click="getMessages('info')">
						<img src="../../../assets/imgs/info.png" class="category-icon" ng-class="{'active':getActive('info')}" ng-click="setCategory('info')">
						<h4>Info</h4>
					</div>
				</div>
			</div>
			<!-- <div class="well well-sm">Most Recent</div> -->
			<div class="container-fluid">
				<div class="textArea">
					<textarea rows="10" placeholder="{{placeholderMessage}}" id="inputbox" maxlength="230" ng-model="sendingMessage.text"></textarea>
				</div>
				<h5 class="text right"> {{230-sendingMessage.content.length}} characters left</h5>
				<!-- use ng-model to bind the data -->
				<div class="textArea">
					<textarea rows="5" placeholder="Send to..." id="sendbox" ng-model="sendingMessage.receiver.email"></textarea>
				</div>
				<!-- click the button, do the post to the api, with message.category, message.content, message.toUsers, message.sender -->
				
				<button id="sendBtn" type="submit" ng-click="sendMessage()" class="btn btn-primary btn-lg ">Send</button>

			</div>
			
		</div>
	</div>
</div>

	
