.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform:rotate(0deg); }
	to { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spin {
	from { -moz-tramsform:rotate(0deg); }
	to { -moz-tramsform:rotate(360deg); }
	to
}


body,html {
    height: 100%
}

.avatar {
    height: 70px;
    width: 70px;
}

#searchBar{
    background-color: #092852;
    height: 50px;
    border: 0;
    background-image: url("../imgs/search.png");
    background-repeat: no-repeat;
    text-indent: 1.9em;
    background-size: 30px 30px;
    background-position: 2% center;
    font-size: 1.5rem;
    color: white;
}

.receive-header {
    background-color: rgba(29, 87, 165, 1);
}

.main-center.receive {
    padding: 0;
    width: 550px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 10px
}

.receive-body {
    height: 100%
}
.receive-body.row {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.right {
    float: right;
}

@media screen and (max-width: 981px) {
    .main-center.receive{
        width: 100%;
        margin:0;
    }
    .main.receive {
        margin-top: 0;
    }
 
}

.category-icon {
    width:60px;
    height: 60px
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

.receive-body .col-centered img.active {
    width: 70px;
    height: 70px;
}


.receive-body .col-centered img:hover {
    width: 70px;
    height: 70px;
}

.panel-footer i{
    font-size: 20px;
    color:#8B8989;

}
.panel-footer {
    min-height: 35px;
}