<div class="pageHeader"> Login Page </div>
<form ng-submit="login()">
	<!--email -->
	<label>User name or Email: </label>
	<input type="text" class="form-control" name="email" placeholder="Please enter email or user name" ng-model="user.userName">
	<br>
	<!--password -->
	<label>Password: </label>
	<input type="text" name="password" class="form-control" placeholder="Please enter password" ng-model="user.password" ng-attr-type="{{ showPassword ? 'text' : 'password' }}">
	<br>
	<label>Show Password:
    <input type="checkbox" ng-model="showPassword"
           ng-true-value= true ng-false-value= false>
   </label><br/>
	<button type="submit" class="btn btn-primary">Login</button>
</form>


<!-- Loading Icon (Bootstrap) -->
<div class="jumbotron text-center" ng-show="warning.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>
<!-- Loading Icon (Bootstrap) -->

<!-- Custom Messages -->
<div class="row" ng-show="warning.successMessage|| warning.errorMessage">
    <div class="alert alert-danger">{{ warning.successMessage || warning.errorMessage }}</div>
</div>
<!-- Custom Messages -->