<div class="userAuth container-fluid">
	<div class="row main">
		<div class="panel-heading">
			<div class="panel-title text-center">
				<h1 class="title">FlashBulb</h1>
				<hr />
			</div>
		</div>
		<div class="main-login main-center">
			<form ng-submit="registerUser()"  class="form-horizontal">
				<div class="form-group">
					<!--email -->
					<label for="email" class="cols-sm-2 control-label">Your Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control input-lg" name="email" placeholder="Please enter email" ng-model="user.email">
						</div>
					</div>
				</div>
				<!--user name -->
				<div class="form-group">
						<label for="userName" class="cols-sm-2 control-label">User name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" name="userName" class="form-control input-lg" placeholder="Please enter user name" ng-model="user.userName">
							</div>
						</div>
				</div>
				<!-- password -->
				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="text" name="password" class="form-control input-lg" placeholder="Please enter password" ng-model="user.password"  ng-attr-type="{{ showPassword ? 'text' : 'password' }}">
						</div>
					</div>
					<label>Show Password:
							<input type="checkbox" ng-model="showPassword"
								ng-true-value= true ng-false-value= false>
					</label>
				</div>
				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
				</div>
				<a href="/login" style="margin-top:1em">Log In</a>
			</form>
		</div>



		<!-- Loading Icon (Bootstrap) -->
		<div class="jumbotron text-center" ng-show="warning.loading">
			<span class="glyphicon glyphicon-repeat spinner"></span>
			<p>Loading....</p>
		</div>
		<!-- Loading Icon (Bootstrap) -->

		<!-- Custom Messages -->
		<div class="row" ng-show="warning.successMessage|| warning.errorMessage">
			<div class="alert alert-danger">{{ warning.successMessage || warning.errorMessage }}</div>
		</div>

	</div>
</div>